
<div class="container">
    <mat-card>
        <mat-card-title>Quem você está cadastrando?</mat-card-title>
        <mat-card-content>
            <button class="btn-user-choice">
                <img src=".\assets\icons\teacher.svg">
                <h2>Professor</h2>
            </button>
            <button class="btn-user-choice" (click)="navigateToRegisterGuardian()">
                <img src=".\assets\icons\guardians.svg">
                <h2>Responsável</h2>
            </button>
            <button class="btn-user-choice">
                <img src=".\assets\icons\student-dancer.svg">
                <h2>Guardian</h2>
            </button>
        </mat-card-content>
    </mat-card>
</div>

