.container{
    min-width: 100%;
    display: flex;
    justify-content: center;
}

mat-card{
    margin-top: 5em;
    max-width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

mat-card-title{ 
    margin-top: 1em;
}

mat-card-subtitle{
    margin-bottom: 2em;
}

mat-form-field:first-child{
    min-width: 100%;
}

mat-form-field{
   min-width: 245px;
   max-width: 245px;
   padding-right: 4px;
}

mat-card-footer{
    margin-bottom: 2em;
}