<div class="container">
  <mat-card>
    <mat-card-title>
      Cadastro de Responsável
    </mat-card-title>
    <mat-card-subtitle>
      Campos com * são obrigatórios
    </mat-card-subtitle>
    <mat-card-content [formGroup]="guardianForm">
      <mat-form-field appearance="outline">
        <mat-label>Nome Completo</mat-label>
        <input matInput formControlName="fullName" required>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput placeholder="example@example.com" formControlName="email" required>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>RG</mat-label>
        <input matInput formControlName="idCard" (input)="onRgInput($event)">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>CPF</mat-label>
        <input matInput formControlName="cpf" (input)="onCpfInput($event)" maxlength="14" required>
        <mat-error *ngIf="guardianForm.get('cpf')?.hasError('invalidCpf')">
          CPF inválido
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Data de Nascimento</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="dateOfBirth">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Número de Telefone</mat-label>
        <input matInput placeholder="(00) 00000-0000" formControlName="phoneNumber" (input)="onPhoneInput($event)" maxlength="15" required>
        <mat-error>
          Telefone inválido
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Gênero</mat-label>
        <mat-select formControlName="gender">
          <mat-option value="F">Feminino</mat-option>
          <mat-option value="M">Masculino</mat-option>
        </mat-select>
      </mat-form-field>
    </mat-card-content>
    <mat-card-footer>
      <button mat-raised-button color="primary" (click)="register()">{{ buttonName }}</button>
    </mat-card-footer>
  </mat-card>
</div>
