.mat-elevation-z8 {
    margin: 20px;
    background-color:white;
  }
  
  div div{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    padding: 16px;
  }

  mat-form-field {
    padding: 16px;
  }
  
  table {
    width: 100%;
  }
  
  th, td {
    text-align: left;
  }
  
  
  .mat-paginator-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  